.header{
    background-color: #fff;
   
    /* height: 115px; */
    border-radius: 2px;
    
    
}
.title{
    color: #000;
    align-items: center;
    justify-content: center;
    text-align: center;
   margin: auto;
   display: flex;
   background-color: #000;
}
.Mainlogo{
    display: inline;
    justify-content: center;
    width: 30%;
    border-radius: 10px;
    
    align-items: center;
    align-content: center;
    padding-right: 5px;
    margin: 2px;

}
.desc{
    display: block;
}
    
    
.pm{
    display: inline;
    color: #fff;
}