
.Card{
   
    border: 1px solid #fff;
    box-shadow: 5px 5px 10px;
    width: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 9px;
   padding-top: 5px;
   
   margin: auto;
   margin-top: 15px;
  
  padding: 10px;
    
   
    
}
.Card img{
    overflow: hidden;
    width: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    height: 200px;

}
 a{
    background-color: black;
    color: black;
    
}
a:hover{
    color: black;
}

.box{
    align-items: center;
    justify-content: center;
    text-align: center;
   margin: auto;
}
button{
    background-color: black;
    color: #fff;
    outline: none;
    border: none;
}